li.list-group-item
    b
        | #{s.name}
    if s.type !== 'text'
        |  - #{s.host} (#{s.type})
    if s.type !== 'text'
        img.pull-right.image(src=s.id alt="..." width="20" height="20")
    if s.services
        p
        +ul_item(s.services)